@layer primeng;

@import 'primeicons/primeicons.css';

*,
::before,
::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--p-surface-900);
  color: var(--p-text-color);
  font-family: 'Segoe UI', system-ui, -apple-system, Roboto, sans-serif;
}
